header {
    display: flex;
    background: #1ABC9C;
    .conteiner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul {
        display: flex;
    }
}